---
layout: home
---

<div class="apresentation mt-5">
  <div class="apresentation-hero">
    <div class="profile-photo mb-6"></div>
    <div class="bio">
      <p>Olá prazer! 🖖 Sou cristão e em tempo integral engenheiro de software, mas também hobbista em audiofilia, ilustrador apaixonado por desenho vetorial e criador de conteúdo nas horas vagas. Bem vindo (a) ao meu blog pessoal.</p>
    </div>
    <hr class="divider">

    <div class="social">
      <div class="social-icons">
        <a href="https://www.instagram.com/oneylons/"><i class='bx bxl-instagram'></i></a>
        <a href="https://twitter.com/oneylons"><i class='bx bxl-twitter' ></i></a>
        <a href="https://www.linkedin.com/in/neylonsantos/"><i class='bx bxl-linkedin' ></i></a>
        <a href="https://github.com/neylonsantos"><i class='bx bxl-github' ></i></a>
        <a href="https://www.tiktok.com/@oneylons"><i class='bx bxl-tiktok'></i></a>
        <a href="https://www.youtube.com/@oneylons"><i class='bx bxl-youtube'></i></a>
      </div>
    </div>

    <div class="network mt-3">
      <div class="network-icons">
        <a href="mailto:neylon@triunfo.net.br"><i class='bx bxl-gmail'></i></a>
        <a href="http://bugando.com.br"><img class="bugando-icon" src="/assets/img/b-bugando-icon.png" alt=""></a>
        <a href="#"><img class="contramare-icon" src="/assets/img/contramare-icon.png" alt=""></a>
        <a href="#"><i class='bx bxl-discord-alt' ></i></a>
      </div>
    </div>

  </div>
</div>

<div class="last-articles mt-6">
  <h2 class="mb-4">Artigos</h2>

  {% for post in site.posts limit: 3 %}
    {% include card_articles.html %}
  {% endfor %}

  <a href="{{ 'articles' | relative_url }}" class="all-articles-page mt-3 mb-6"><p><i class='bx bx-folder-open' ></i></i> Todos os artigos</p></a>
</div>
