---
layout: home
---

<div class="container">
  <main class="about-me block">
    <div class="img"></div>
    <div>
      <h2>Neylon Santos</h2>
      <p>
        Engenheiro de software, rubista, aspirante a audiófilo e entusiasta da ilustração vetorial
      </p>
    </div>
    <div class="social-icons">
      <a href="{{ site.data.social.instagram }}"><i class="fa-brands fa-instagram"></i></a>
      <a href="{{ site.data.social.twitter }}"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="{{ site.data.social.youtube }}"><i class="fa-brands fa-youtube"></i></a>
      <a href="{{ site.data.social.github }}"><i class="fa-brands fa-github"></i></a>
      <a href="{{ site.data.social.linkedin }}"><i class="fa-brands fa-linkedin"></i></i></a>
      <a href="{{ site.data.social.email }}"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </main>

  <section class="projects block">
    <h2>Projetos</h2>
    <div class="projects-publications">
      {% for project in site.projects %}
        {% include card_project.html %}
      {% endfor %}
    </div>
  </section>

  <section class="articles block">
    <h2>Publicações</h2>
    <div class="articles-publications">
      {% if site.posts.size == 0 %}
          <p>Não postei nada ainda &#128517;</p>
      {% else %}
        {% for post in site.posts %}
          {% include card_post.html %}
        {% endfor %}
      {% endif %}
    </div>
  </section>
</div>
