<div class="apresentation mt-5">
  <div class="apresentation-hero">
    <div class="profile-photo mb-6"></div>
    <div class="bio">
      <p>Olá Neylon prazer! 🖖 Sou cristão e em tempo integral engenheiro de software, mas também hobbista em audiofilia, ilustrador apaixonado por desenho vetorial, podcaster e criador de conteúdo nas horas vagas. Bem vindo (a) ao meu blog pessoal.</p>
    </div>
    <hr class="divider">

    <div class="social">
      <div class="social-icons">
        <a href="https://www.instagram.com/neylonssantos/"><i class='bx bxl-instagram'></i></a>
        <a href="https://twitter.com/neylonssantos"><i class='bx bxl-twitter' ></i></a>
        <a href="https://www.linkedin.com/in/neylonsantos/"><i class='bx bxl-linkedin' ></i></a>
        <a href="https://github.com/neylonsantos"><i class='bx bxl-github' ></i></a>
      </div>
    </div>

    <div class="network mt-3">
      <div class="network-icons">
        <a href="mailto:neylonsantos@triunfo.net.br"><i class='bx bxl-gmail'></i></a>
        <a href="http://bugando.com.br"><img class="bugando-icon" src="/assets/img/b-bugando-icon.png" alt=""></a>
        <a href="#"><img class="contramare-icon" src="/assets/img/contramare-icon.png" alt=""></a>
        <a href="http://discord.gg/VM4aXNN"><i class='bx bxl-discord-alt' ></i></a>
      </div>
    </div>

  </div>
</div>