<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
  <meta name="author" content="Neylon Santos">
  <meta name="robots" content="noodp">
	<meta name="reply-to" content=" {{ site.email }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mirza&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c0e4794d6e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  {% case page.layout %}
  {% when "home" %}
  <link rel="stylesheet" href="/assets/css/home.css">
  {% when "post" %}
  <link rel="stylesheet" href="/assets/css/post.css">
  <link rel="stylesheet" href="/assets/css/site_header.css">
  {% endcase %}
</head>