<div class="social-icons">
  <a href="{{ site.data.social.instagram }}"><i class="fa-brands fa-instagram"></i></a>
  <a href="{{ site.data.social.twitter }}"><i class="fa-brands fa-x-twitter"></i></a>
  <a href="{{ site.data.social.tiktok }}"><i class="fa-brands fa-tiktok"></i></a>
  <a href="{{ site.data.social.youtube }}"><i class="fa-brands fa-youtube"></i></a>
  <a href="{{ site.data.social.github }}"><i class="fa-brands fa-github"></i></a>
  <a href="{{ site.data.social.linkedin }}"><i class="fa-brands fa-linkedin"></i></i></a>
  <a href="{{ site.data.social.email }}"><i class="fa-solid fa-envelope"></i></a>
</div>