:root {
  --cor-fundo: #202020;
  --cor-texto: #ededed;
  --cor-texto-secundario: #a3a3a3;
  --cor-link: #3498db;
  --cor-link-hover: #2980b9;
  --cor-botao: #e74c3c;
  --cor-botao-hover: #c0392b;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  height: 100vh;
  font-family: 'Inclusive Sans', sans-serif;
}

body h2 {
  margin-block-start: 0.3em;
  margin-block-end: 1em;
  margin-left: 5px;
}

a {
  color: var(--cor-link);
  text-decoration: none;

  &:hover {
    color: var(--cor-link-hover);
  }
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.block {
  border-radius: 24px;
  background-color: #121212;
  padding: 8px;
  /* padding-left: 30px;
  padding-right: 30px; */
  margin-bottom: 20px;
}

footer p {
  color: var(--cor-texto-secundario);
  text-align: center;
}